<h4>Products List</h4>

<div basic-highlight>Basic Highlight Directive</div>
<!-- <div better-highlight dc='yellow' hc="chartreuse">Better Highlight Directive</div> -->
<div [better-highlight]="'yellow'" hc="chartreuse">Better Highlight Directive</div>

<div class="row" style="margin-bottom: 15px;">
    <div class="col-md-1">
        Filter :
    </div>
    <div class="col-md-2">
        <input type="text" [(ngModel)]="filterText" class="form-control">
    </div>
    <div class="col-md-2">
       <button type="button" class="btn btn-primary" (click)="releaseData()">Release Data</button>
    </div>
    <!-- <div class="col-md-2" *ngIf="filterText.length>0 else nofilter">
        <div class="alert alert-info" role="alert">
            <strong>{{filterText}}</strong>
        </div>
    </div> -->
    <!-- <ng-template #nofilter>
        <div class="col-md-2">
            <div class="alert alert-danger" role="alert">
                <strong>Enter Filter text</strong>
            </div>
        </div>
    </ng-template> -->
    <!-- <div class="col-md-2" *ngIf="filterText.length==0">
        <div class="alert alert-danger" role="alert">
            <strong>Enter Filter text</strong>
        </div>
    </div> -->
    <!-- <div class="col-md-2" [hidden]="filterText.length==0">
        <div class="alert alert-info" role="alert">
            <strong>{{filterText}}</strong>
        </div>
    </div> -->
</div>

<div class="row">
    <div *ngFor="let prod of products | filter : filterText" class="col-md-3" style="margin-bottom: 10px;">
        <product-thumbnail [product]="prod" (pd)="receivedFromChild($event)"></product-thumbnail>
    </div>
</div>

<h4>List of Pipes</h4>
<ul>
    <li>uppercase</li>
    <li>lowercase</li>
    <li>currency</li>
    <li>date</li>
    <li>json</li>
</ul>   